

/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;

}
li {
  padding: 5px 0;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}

.col-60 {
  background: #cc9900;
  width: 600px;
  height: auto;
}

#juego {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#titromp {
  background-color: #EC6778;
  color: #fff;
  text-align: center;
}

#subtit {
  color: #EC6778;
}

.piezas {
  animation: fadein 1s;
  height: 200px;
  width: 200px;
  float: left;
}